<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../dist/chart.min.css" id="classic-theme-style" />
    <style>
      .wrapper {
        padding: 10px 0;
      }

      .container {
        border: 1px solid #ccc;
        display: inline-block;
        height: 300px;
        vertical-align: middle;
        width: 300px;
      }
    </style>
  </head>
  <body>
    <div id="yOffset" class="container" style="display: none; background: #333;"></div>
    <button id="show">Show the other container</button>
    <div>
      <div id="container0" class="container"></div>
      <!--<div id="container1" class="container" style="background-color: #f7ca4f"></div>
      <div id="container2" class="container"></div>-->
    </div>

    <div>
      <div id="container3" class="container"></div>
      <div id="container4" class="container" style="height: 30px; background-color: #E6F0F5;"></div>
      <div id="container5" class="container"></div>
    </div>

    <script src="../dist/chart.min.js" type="text/javascript"></script>

    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $('#container0').chart(
          [{
            value: 200,
            color: "#abc123"
          }, {
            value: 1000,
            color: "#46BFBD"
          }, {
            value: 500,
            color: "#ba0"
          }], {
            type: 'pie',
            tooltipTemplate: '<%= parseInt(value / 5000 * 100) %>%',
            innerTextTemplate: '$7,000',
            animationTime: 1000,
            total: 5000,
            skipTooltip: function() { return false; }
          }
        );

        $('#container1').chart(
            [{
              value: 3000,
              color: "#abc123"
            }, {
              value: 2000,
              color: "#46BFBD"
            }, {
              value: 0,
              color: "#bbb"
            }, {
              value: 1,
              color: "#ba0"
            }], {
              type: 'pie',
              tooltipTemplate: '<%= parseInt(value / 5000 * 100) %>%',
              innerTextTemplate: '$5,000,000,000,000'
            }
        );

        $('#container2').chart([{
          value: 0,
          color: "gray"
        }], {
          segmentShowStroke: false,
          type: 'pie',
          tooltipTemplate: '<%= parseInt(value / 5000 * 100) %>%',
          innerTextTemplate: '$0.00',
          total: 0
        });

        $('#container3').chart(
          [
            { value: 100, color: "#0000ff44" },
            { value: 75, color: "#46BFBD" },
            { value: 20, color: "#eee" },
            { value: 0, color: "#f00" }
          ],
          {
            type: 'stacked-bar',
            total: 500,
            height: 50,
            backgroundColor: '#ccc'
          }
        );

        $("#container4").chart(
          [
            { value: 100, color: "#abc123" },
            { value: 75, color: "#46BFBD" },
            { value: 50, color: "#ccc" }
          ],
          {
            type: "stacked-bar",
            animationTime: 1000
          }
        );

        $('#container5').chart([
          { value: 0, color: "#abc123" }
        ],
        {
          type: "stacked-bar",
          height: 30
        });
      });
    </script>
  </body>
</html>
